@import url(styles/header.css);
@import url(styles/footer.css);
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root
{
    --gradiente-azul-escuro: linear-gradient(to right top, #292643, #302d4d, #363458, #3d3b63, #44426e);
    --apricot: #E99E75;
    --fiord: #44426E;
    --rum: #776483;
    --shady-lady: #BBAAB8;
    --ebony-clay: #292643;
}

body
{
    font-family: 'Source Serif Pro';
}
