@import url(styles/header.css);
@import url(styles/footer.css);
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root
{
    --gradiente-amarelo-claro         : linear-gradient(to right top, #f0b207, #f3b923, #f5c035, #f8c744, #fbce52);
    --gradiente-laranja               : linear-gradient(to right top, #ffaf1b, #ffa014, #ff9112, #fe8114, #fd7118);
    --amarelo-claro                   : #fcfce2;
    --cinza-claro                     : #CDCDCD;
    --cinza-claro-semitransparente    : #cdcdcd73;
    --cinza-claro-transparente        : #8f8f8f13;
    --cinza-escuro                    : #272727;
    --cinza-escuro-semitransparente   : #2727279a;
    --cinza-escuro-dark               : #1d1d1e;
    --laranja-claro                   : #F0B207CE;
    --laranja-medio                   : #ff8100;
    --laranja-medio-transparente      : #ff800081;
    --preto-transparente              : #000000a6;

    --preto-filtro-banner             : rgba(1, 15, 17, 0.521);
    --preto-sombra-header             : rgba(0, 0, 0, 0.85);
    --preto-sombra-card-servicos      : rgb(14, 14, 16); 
    --branco-background-header        : rgba(255, 255, 255, 0.05);

    --fonte-titulo                    : 'Bebas Neue';
    --fonte-texto                     : 'Montserrat';
}

body
{
    font-family   : var(--fonte-texto);
}
