@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

body
{
    font-family: 'Oxygen', serif;
}

body::-webkit-scrollbar
{
    background-color: rgb(208, 209, 211);
    width: 6px;
}

body::-webkit-scrollbar-thumb
{
    background-color: #2b2a6ad9;
    border-radius: 20px;
}

header
{
    background-color: #AAAAAA;
    padding: 20px 0;
}

header .container
{
    position: relative;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

nav
{
    position: absolute;
    top: 50%;
    right: 0;
}

nav a
{
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    text-decoration: none;
    transition: color 300ms, border 300ms;
}

nav a:hover
{
    color: #3a3981d9;
    border-bottom: 2px solid #3a3981d9;
    padding-bottom: 3px;
}

header .itens
{
    display: inline;
    margin-left: 30px;
    font-size: 20px;
}

footer
{
    background-image: url('../images/bg.jpg');
    text-align: center;
    padding: 10vh 0 5vh 0;
}

#copyright
{
    color: azure;
    font-size: 13px;
    margin-top: 5%;
}