.cabecalho
{
    width             : 100%;
    padding           : 1em;
    box-sizing        : border-box;
    border-radius     : 0px 0px 8px 8px;
    
    background        : var(--branco-background-header);
    box-shadow        : 0px 1px 15px var(--preto-sombra-header);
    backdrop-filter   : blur(12.5px);
    
    position          : absolute;
    top               : 0;
    z-index           : 5;

    display           : flex;
    align-items       : center;
    justify-content   : space-between;
}

.cabecalho__titulo
{
    height   : 83px;
    width    : 59px;
}

.cabecalho__logo
{
    display               : block;
    height                : inherit;
    width                 : inherit;
    
    background-image      : url(/images/logo.png);
    background-size       : contain;
    background-position   : center;
    background-repeat     : no-repeat;
}

.cabecalho__lista
{
    display      : flex;
    gap          : .8em;

    transition   : all 300ms;
    opacity      : 100%;
}

.cabecalho__itens
{
    display       : flex;
    align-items   : center;
    gap           : 1em;

    transform     : translateY(0);
    transition    : all 400ms ease-in-out;
}

.cabecalho__icone
{
    display               : inline-block;
    width                 : 35px;
    height                : 35px;
    
    background-size       : 35px 35px;
    background-repeat     : no-repeat;
    background-position   : center;
    background-color      : var(--laranja-icone-header);
    
    padding               : 0.6em;
    border-radius         : 8px;
    border                : 1px solid white;
    box-shadow            : 0px 0px 8px 1px rgb(0 0 0);
}

.cabecalho__texto
{
    display   : none;
}


.item_home .cabecalho__icone
{
    background-image   : url(/images/home-icone.png);
}

.item_produto .cabecalho__icone
{
    background-image   : url(/images/produtos-icone.png);
}

.item_horario .cabecalho__icone
{
    background-image   : url(/images/horario-icone.png);
}


@media screen and (min-width: 1024px) 
{
    .cabecalho
    {
        padding           : 1em 10%;
        background        : transparent;
        box-shadow        : none;
        backdrop-filter   : none;
    }

    .cabecalho__titulo
    {
        height   : 125px;
        width    : 88px;
    }

    .cabecalho__logo
    {
        background-image   : url(/images/logo-branco.png);
    }

    .cabecalho__lista
    {
        gap   : 2em;
    }

    .cabecalho__icone
    {
        display   : none;
    }

    .cabecalho__texto
    {
        display           : block;
        text-decoration   : none;
        color             : var(--cinza-claro);
        font-weight       : 500;
        font-size         : 1.2em;
        text-transform    : uppercase;
        position          : relative;
    }

    .cabecalho__texto:hover
    {
        color   : var(--laranja-claro);
    }

    .cabecalho__texto::before
    {
        content            : '';
        display            : block;
        height             : 1px;
        width              : 0;
        position           : absolute;
        bottom             : -.3em;
        background-color   : var(--laranja-claro);
        transition         : all 500ms;
    }

    .cabecalho__texto:hover::before
    {
        color   : var(--laranja-claro);
        width   : 100%;
    }
}