.secao1
{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 80vh;
    position: relative;

    background-image: url(/images/banner2.jpg);
    background-size: cover;
    background-position: center;
}

.secao1::before
{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--preto-filtro-banner);
    position: absolute;
}

.secao1__banner
{
    width: 100%;
}

.secao1__conteudo
{
    position: absolute;
    bottom: 0;
    height: calc(100% - 115px);
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.secao1__conteudo__cabecalho
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.secao1__conteudo__cabecalho__titulo
{
    font-family: 'Bebas Neue';
    font-size: 3em;
    font-weight: 600;
    color: var(--cinza-claro);
    width: 10ch;
    text-align: center;
}

.secao1__conteudo__cabecalho__texto
{
    text-align: center;
    font-weight: 300;
}

.secao1__conteudo__botao
{
    text-decoration: none;
    text-align: center;
    color: var(--cinza-claro);
    border: 1px solid var(--amarelo-claro);
    padding: 1em 2em;
    border-radius: 0;
    background-color: var(--cinza-claro-transparente);
}

.secao2
{
    width: 100%;
    box-sizing: border-box;
    padding: 2em;
    background-color: var(--cinza-escuro);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.secao2__titulo
{
    width: 100%;
    text-align: left;
    font-size: 2em;
    font-family: var(--fonte-titulo);
    color: var(--laranja-claro);
}

.secao2__imagem
{
    width: 40%;
    border-radius: 14px;
    box-shadow: 0px 0px 10px 2px rgb(0 0 0);
}

.secao2__descricao
{
    width: 100%;
    text-align: justify;
    line-height: 22px;
    font-weight: 200;

    display: grid;
    gap: 1em;
}

.secao2__descricao__paragrafo .texto_destaque
{
    font-weight: 500;
    color: var(--laranja-claro);
}

.secao2__descricao__paragrafo .texto_citacao
{
    font-weight: 500;
    color: var(--laranja-claro);
    font-style: italic;
}

.secao2__descricao__paragrafo .texto_enfase
{
    font-weight: 400;
    color: var(--laranja-medio);
    font-style: italic;
}