.secao1
{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    position: relative;
}

.secao1::before
{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--preto-filtro-banner);
    position: absolute;
}

.secao1__banner
{
    width: 100%;
}

.secao1__conteudo
{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.secao1__conteudo__titulo
{
    font-size: 1.8em;
    font-weight: 500;
    color: var(--cinza-claro);
}

.secao1__conteudo__botao
{
    text-decoration: none;
    color: var(--cinza-claro);
    border: 1px solid var(--amarelo-claro);
    padding: 1em 2em;
    border-radius: 0;
    background-color: var(--azul-claro-transparente);
}