/*----- Seção 1 -----*/

.secao1
{
    display               : flex;
    flex-direction        : column;
    align-items           : center;

    color                 : var(--cinza-claro);
    width                 : 100%;
    position              : relative;

    background-image      : url(/images/banner2.jpg);
    background-size       : cover;
    background-position   : center;
}

.secao1::before
{
    content            : '';
    display            : block;
    width              : 100%;
    height             : 100%;
    background-color   : var(--preto-filtro-banner);
    position           : absolute;
}

.secao1__conteudo
{
    margin-top        : 115px;
    z-index           : 1;
    width             : 100%;
    min-height        : 70vh;
    box-sizing        : border-box;
    padding           : 1em;
    animation         : float 800ms ease-in-out;
    
    display           : flex;
    flex-direction    : column;
    align-items       : center;
    justify-content   : space-around;
}

.secao1__conteudo__cabecalho
{
    display          : flex;
    flex-direction   : column;
    align-items      : center;
    gap              : 1.5em;
}

.secao1__conteudo__cabecalho__titulo
{
    font-family   : 'Bebas Neue';
    font-size     : 3em;
    font-weight   : 600;
    width         : 10ch;
    text-align    : center;
}

.secao1__conteudo__cabecalho__texto
{
    text-align    : center;
    font-weight   : 300;
}

.secao1__conteudo__botao
{
    text-decoration    : none;
    text-align         : center;
    border             : 1px solid var(--amarelo-claro);
    color              : var(--cinza-claro);
    padding            : 1em 2em;
    border-radius      : 0;
    background-color   : var(--cinza-claro-transparente);
}


@media screen and (min-width: 1024px) 
{
    .secao1__conteudo
    {
        min-height: 60vh;
    }

    .secao1__conteudo__cabecalho__titulo
    {
        font-size: 4em;
    }

    .secao1__conteudo__cabecalho__texto
    {
        font-size: 1.3em;
    }

    .secao1__conteudo__botao
    {
        font-size: 1.1em;
        transition: all 350ms;
    }

    .secao1__conteudo__botao:hover
    {
        color: var(--laranja-claro);
        background-color: var(--cinza-escuro-semitransparente);
    }
}


/*----- Seção 2 -----*/

.secao2
{
    width              : 100%;
    box-sizing         : border-box;
    padding            : 2em;
    background-color   : var(--cinza-escuro);
    color              : var(--cinza-claro);

    display            : grid;
    justify-items      : center;
    gap                : 2em;
}

.secao2__titulo
{
    width         : 100%;
    font-size     : 2em;
    font-family   : var(--fonte-titulo);
    color         : var(--laranja-claro);
}

.secao2__fotografia
{
    text-align: center;
}

.secao2__fotografia__imagem
{
    width           : 40%;
    border-radius   : 14px;
    box-shadow      : 0px 0px 10px 2px rgb(0 0 0);
}

.secao2__descricao
{
    width         : 100%;
    text-align    : justify;
    line-height   : 22px;
    font-weight   : 200;

    display       : grid;
    gap           : 1em;
}

.secao2__descricao__paragrafo .texto_destaque
{
    font-weight   : 500;
    color         : var(--laranja-claro);
}

.secao2__descricao__paragrafo .texto_citacao
{
    font-weight   : 500;
    color         : var(--laranja-claro);
    font-style    : italic;
}

.secao2__descricao__paragrafo .texto_enfase
{
    font-weight   : 400;
    color         : var(--laranja-medio);
    font-style    : italic;
}


@media screen and (min-width: 1024px) 
{
    .secao2
    {
        grid-template-columns: 1fr 25%;
        padding: 0;
        gap: 0;
    }

    .secao2__titulo
    {
        padding-top: 5%;
        text-align: center;
        box-sizing: border-box;
        font-size: 3em;
    }

    .secao2__fotografia
    {
        grid-row: span 2;
    }

    .secao2__fotografia__imagem
    {
        width: 100%;
        height: 100%;
        border-radius: 0;
        box-shadow: -6px 0px 12px var(--preto-transparente);
    }

    .secao2__descricao
    {
        box-sizing: border-box;
        padding: 10%;
        padding-top: 5%;
        font-size: 1.2em;
        gap: 0.5em;
    }
}


/*----- Seção 3 -----*/

.secao3
{
    width              : 100%;
    box-sizing         : border-box;
    padding            : 2em;
    background-color   : #FFFFFF;
    color              : var(--cinza-escuro);

    display            : grid;
    gap                : 1em;
}

.secao3__titulo
{
    font-family   : var(--fonte-titulo);
    font-size     : 2em;
    color         : var(--laranja-claro);
    text-align    : center;
}

.material-symbols-outlined
{
    color   : red;
}

.secao3__descricao
{
    font-weight   : 500;
    text-align    : center;
    line-height   : 22px;
    font-size     : .9em;
}

.secao3__mapa
{
    width    : 100%;
    height   : 300px;
    border   : 0;
}

.secao3__endereco
{
    color         : var(--cinza-escuro);
    text-align    : center;
    font-weight   : 400;
    font-size     : .8em;
    font-style    : italic;
}


@media screen and (min-width: 1024px) 
{
    .secao3
    {
        justify-items: center;
    }

    .secao3__titulo
    {
        font-size: 3em;
    }

    .secao3 .material-symbols-outlined
    {
        color   : red;
        font-size: 36px;
    }

    .secao3__descricao
    {
        font-size: 1.1em;
    }

    .secao3__mapa
    {
        width: 50%;
    }
}


/*----- Seção 4 -----*/

.secao4
{
    width              : 100%;
    box-sizing         : border-box;
    padding            : 2em;
    background-color   : var(--cinza-escuro);
    color              : var(--cinza-claro);

    display            : grid;
    justify-items      : center;
    gap                : 2em;
}

.secao4__titulo
{
    width         : 100%;
    font-size     : 2em;
    font-family   : var(--fonte-titulo);
    color         : var(--laranja-claro);
}

.secao4__imagem
{
    width           : 90%;
    border-radius   : 14px;
    box-shadow      : 0px 0px 10px 2px rgb(0 0 0);
}

.secao4__lista
{
    width     : 100%;

    display   : grid;
    gap       : 0.5em;
}

.secao4__lista__itens
{
    position      : relative;
    font-weight   : 500;
    font-style    : italic;

    display       : flex;
    align-items   : center;
    gap           : 10%;
}

.secao4__lista__itens::before
{
    content     : '\2022';
    font-size   : 2.5em;
    color       : var(--laranja-medio);
}

.secao4__lista__itens::after
{
    content            : '';
    display            : block;
    height             : 1px;
    width              : 90%;
    position           : absolute;
    bottom             : 0;
    left               : 10%;
    background-color   : var(--laranja-medio);
}

.secao4__video
{
    width        : 100%;
    height       : 300px;
    box-shadow   : 0px 0px 10px 5px var(--preto-transparente);
}

@media screen and (min-width: 1024px) 
{
    .secao4
    {
        padding: 0;
        grid-template-columns: 55% 1fr;
        gap: 0;
    }

    .secao4__titulo
    {
        font-size: 3em;
        text-align: center;
        padding-top: 5%;
        background-color: var(--cinza-medio);
    }

    .secao4__imagem
    {
        grid-column: 1;
        grid-row: span 2 / 1;

        border-radius: 0;
        box-shadow: 4px 0px 14px var(--preto-transparente);
        width: 100%;
        height: 100%;
        z-index: 5;
    }

    .secao4__lista
    {
        padding: 5% 10%;
        box-sizing: border-box;
        background-color: var(--cinza-medio);
    }

    .secao4__video
    {
        grid-column: span 2;
        width: 50%;
        height: 350px;
        margin: 100px 0;
    }
}