/*----- Seção 1 -----*/

.secao1
{
    display               : flex;
    flex-direction        : column;
    align-items           : center;

    color                 : var(--cinza-claro);
    width                 : 100%;
    position              : relative;

    background-image      : url(/images/banner4.jpg);
    background-size       : cover;
    background-position   : 60%;
}

.secao1::before
{
    content            : '';
    display            : block;
    width              : 100%;
    height             : 100%;
    background-color   : var(--preto-filtro-banner);
    position           : absolute;
}

.secao1__conteudo
{
    margin-top        : 115px;
    z-index           : 1;
    width             : 100%;
    min-height        : 70vh;
    box-sizing        : border-box;
    padding           : 1em;
    
    display           : flex;
    flex-direction    : column;
    align-items       : center;
    justify-content   : space-around;
}

.secao1__conteudo__cabecalho
{
    display          : flex;
    flex-direction   : column;
    align-items      : center;
    gap              : 1.5em;
}

.secao1__conteudo__cabecalho__titulo
{
    font-family   : 'Bebas Neue';
    font-size     : 3em;
    font-weight   : 600;
    width         : 10ch;
    text-align    : center;
}

.secao1__conteudo__cabecalho__texto
{
    text-align    : center;
    font-weight   : 300;
    line-height   : 22px;
}

@media screen and (min-width: 1024px) 
{
    .secao1__conteudo
    {
        min-height: 60vh;
    }

    .secao1__conteudo__cabecalho__titulo
    {
        font-size: 4em;
    }

    .secao1__conteudo__cabecalho__texto
    {
        font-size: 1.3em;
        width: 40ch;
    }    
}



/*----- Seção 2 -----*/

.secao2
{
    width             : 100%;
    box-sizing        : border-box;
    padding           : 2em;
    color             : var(--cinza-escuro);

    display           : flex;
    justify-content   : center;
}

.secao2__tabela
{
    width     : 80%;
    color     : var(--cinza-claro);

    display   : grid;
}

.secao2__tabela__legenda
{
    background-color   : transparent;
    margin-bottom      : 1em;

    display            : grid;
    gap                : 0.5em;
}

.secao2__tabela__legenda__icone
{
    color   : var(--laranja-medio);
}

.secao2__tabela__legenda__titulo
{
    font-family   : var(--fonte-titulo);
    font-size     : 2em;
    color         : var(--cinza-escuro);
}

.secao2__tabela__cabecalho
{
    background-image   : var(--gradiente-amarelo-claro);
    color              : var(--cinza-escuro);
    border-radius      : 12px 0px 12px 0px;
    margin-bottom      : 0.5em;

    display            : flex;
    justify-content    : space-between;
}

.secao2__tabela__cabecalho__linha
{
    width                   : 100%;

    display                 : grid;
    grid-template-columns   : 1fr 1fr 1fr;
}

.secao2__tabela__cabecalho__linha__dado
{
    padding       : 0.5em;
    font-weight   : 700;
}

.secao2__tabela__corpo
{
    border-radius   : 10px;
}

.secao2__tabela__corpo__linha
{
    display                 : grid;
    grid-template-columns   : 60% 40%;

    margin-bottom           : 3px;
}

.secao2__tabela__corpo__linha__dado
{
    padding       : 1em;
    font-weight   : 500;
    font-size     : 0.8em;
    box-sizing    : border-box;
}

.secao2__tabela__corpo__linha__dado:nth-child(1)
{
    text-align         : right;
    background-color   : var(--cinza-escuro);
    color              : var(--cinza-claro);
    font-weight        : 500;
    border-radius      : 5px 0 0 5px;
}

.secao2__tabela__corpo__linha__dado:nth-child(2)
{
    text-align         : center;
    background-color   : var(--laranja-medio);
    color              : var(--cinza-escuro);
    font-weight        : 600;
}


@media screen and (min-width: 1024px) 
{
    .secao2__tabela
    {
        width: 50%;
    }

    .secao2__tabela__legenda__icone.material-symbols-outlined
    {
        font-size: 30px;
    }

    .secao2__tabela__legenda__titulo
    {
        font-size: 2.5em;
    }

    .secao2__tabela__cabecalho
    {
        border-radius: 20px 0 20px 0;
    }

    .secao2__tabela__cabecalho__linha__dado
    {
        font-size: 1.5em;
    }

    .secao2__tabela__corpo__linha__dado
    {
        font-size: 1.2em;
    }

    .secao2__tabela__corpo__linha__dado:nth-child(1)
    {
        border-radius: 12px 0 0 12px;
    }
}


/*----- Seção 3 -----*/

.secao3
{
    width              : 100%;
    box-sizing         : border-box;
    padding            : 2em;
    background-color   : var(--cinza-escuro);
    color              : var(--cinza-claro);

    display            : flex;
    flex-direction     : column;
    justify-content    : center;
}

.secao3__titulo
{
    display         : grid;
    align-items     : center;
    justify-items   : center;
    gap             : 0.5em;

    margin-bottom   : 1em;
}

.secao3__titulo__icone
{
    display   : inline;
    color     : var(--laranja-medio);
}

.secao3__titulo__texto
{
    font-family   : var(--fonte-titulo);
    color         : var(--laranja-claro);
    font-size     : 2em;
    text-align    : center;
}

.secao3__formulario
{
    display         : grid;
    justify-items   : center;
    gap             : 1em;
}

.secao3__formulario__campo
{
    width              : 80%;
    background-color   : var(--cinza-escuro);
    border             : 1px solid var(--cinza-claro-semitransparente);
    border-radius      : 20px;
    padding            : 0 .5em .5em 1em;

    display            : flex;
    align-items        : flex-end;
}

.secao3__formulario__campo__legenda
{
    font-size     : .7em;
    color         : white;
    font-weight   : 300;
    padding       : 0 .5em 0 .5em;
}

.secao3__formulario__campo__input
{
    height             : 100%;
    width              : 80%;
    background-color   : inherit;
    color              : var(--cinza-claro);
    border             : 0;
    outline            : none;
    font-size          : .8em;
    font-family        : var(--fonte-texto);
    padding            : 0.3em;
}

.secao3__formulario__campo__icone
{
    width             : 20%;
    height            : 100%;

    display           : flex;
    align-items       : flex-end;
    justify-content   : center;
}

.secao3__formulario__campo__icone span
{
    color   : var(--cinza-claro);
}

.secao3__formulario__campo__input:focus
{
    border-bottom   : 1px solid var(--laranja-medio-transparente);
}

.textarea.secao3__formulario__campo
{
    padding   : .8em;
}

.secao3__formulario__campo__textarea
{
    font-size          : .8em;
    font-family        : var(--fonte-texto);
    color              : var(--cinza-claro);
    width              : 100%;
    height             : 100px;
    background-color   : inherit;
    border             : none;
    resize             : none;
    outline            : none;
}

.radio.secao3__formulario__campo
{
    border    : none;
    padding   : 0;
    
    display   : grid;
    gap       : 1em;
}

.secao3__formulario__campo__titulo
{
    font-size     : .9em;
    text-align    : center;
    padding       : 0 2ch 0 2ch;
    line-height   : 20px;
}

.radio .secao3__formulario__campo__radiobutton,
.radio .secao3__formulario__campo__radiobutton__label
{
    display       : flex;
    align-items   : center;
    gap           : .5em;
}

.radio .secao3__formulario__campo__radiobutton__label img
{
    width   : 25px;
}

.radio .secao3__formulario__campo__radiobutton__label span
{
    font-size   : .7em;
}

.select.secao3__formulario__campo
{
    border          : none;
    padding         : 0;

    display         : grid;
    justify-items   : center;
    gap             : 1em;
}

.secao3__formulario__campo__select
{
    width              : 150px;
    border-radius      : 4px 4px 0 0;
    background-color   : inherit;
    padding            : .5em;
    text-align         : center;
    font-size          : .8em;
    font-family        : var(--fonte-texto);
    color              : var(--cinza-claro);
}

.checkbox.secao3__formulario__campo
{
    border        : none;
    padding       : 0;

    display       : flex;
    align-items   : center;
}

.secao3__formulario__campo__label
{
    font-size     : .7em;
    margin-left   : 0.5em;
}

.submit.secao3__formulario__campo
{
    border            : none;
    padding           : 0;
    
    display           : flex;
    justify-content   : center;
}

.secao3__formulario__campo__submit
{
    padding            : 1em 2em;
    border-radius      : 20px;
    border             : 0;
    font-size          : .8em;
    font-family        : var(--fonte-texto);
    font-weight        : 500;
    background-image   : var(--gradiente-laranja);
}

@media screen and (min-width: 1024px) 
{
    .secao3
    {
        align-items: center;
    }

    .secao3__titulo__icone.material-symbols-outlined
    {
        font-size: 30px;
    }

    .secao3__titulo__texto
    {
        font-size: 2.5em;
    }

    .secao3__formulario
    {
        width: 90%;

        gap: 2em;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "nome email"
            "telefone contato"
            "mensagem horario"
            "novidades novidades"
            "enviar enviar"
        ;
    }

    .secao3__formulario__campo
    {
        border-radius: 8px;
    }

    .nome
    {
        grid-area: nome;
    }

    .nome:hover
    {
        border: 1px solid var(--laranja-medio-transparente);
    }

    .email
    {
        grid-area: email;
    }

    .email:hover
    {
        border: 1px solid var(--laranja-medio-transparente);
    }

    .telefone
    {
        grid-area: telefone;
    }

    .telefone:hover
    {
        border: 1px solid var(--laranja-medio-transparente);
    }

    .textarea
    {
        grid-area: mensagem;
    }

    .textarea:hover
    {
        border: 1px solid var(--laranja-medio-transparente);
    }

    .radio
    {
        grid-area: contato;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .radio .secao3__formulario__campo__titulo
    {
        grid-column: span 3;
        font-size: 1.2em;
    }

    .radio .secao3__formulario__campo__radiobutton__label
    {
        cursor: pointer;
    }

    .radio .secao3__formulario__campo__radiobutton__label img
    {
        width: 30px;
    }

    .radio .secao3__formulario__campo__radiobutton__label span
    {
        font-size: .9em;
    }

    .select
    {
        grid-area: horario;
        align-content: center;
    }

    .select .secao3__formulario__campo__titulo
    {
        font-size: 1.2em;
    }

    .select .secao3__formulario__campo__select
    {
        font-size: .9em;
    }

    .select .secao3__formulario__campo__select:hover
    {
        border: 1px solid var(--laranja-medio-transparente);
        cursor: pointer;
    }

    .checkbox
    {
        grid-area: novidades;
    }

    .checkbox.secao3__formulario__campo
    {
        width: 50%;
        justify-self: left;
        
        display: flex;
        justify-content: center;
    }

    .checkbox input
    {
        width: 14px;
        height: 14px;
    }

    .checkbox .secao3__formulario__campo__label
    {
        font-size: 1em;
        cursor: pointer;
    }

    .submit
    {
        grid-area: enviar;
    }

    .submit .secao3__formulario__campo__submit
    {
        font-size: 1.2em;
        cursor: pointer;
        transition: all 350ms;
    }

    .submit .secao3__formulario__campo__submit:hover
    {
        background-image: var(--gradiente-laranja-invertido);
        color: white;
    }

    .secao3__formulario__campo
    {
        padding: 1em;

        display: flex;
        align-items: center;
    }

    .secao3__formulario__campo__legenda
    {
        display: none;
    }

    .secao3__formulario__campo__input
    {
        font-size: 1em;
        padding: 0;
    }

    .secao3__formulario__campo__textarea
    {
        font-size: 1em;
        padding: 0;
    }

    .secao3__formulario__campo__icone
    {
        align-items: center;
    }

    .secao3__formulario__campo__icone .material-symbols-outlined
    {
        font-size: 28px;
    }
}