/*----- Seção 1 (Particularidades) -----*/

.secao1
{
    background-image      : url(/images/banner4.jpg);
    background-position   : 60%;
}

/*----- Seção 2 -----*/

.secao2,
.secao3
{
    width            : 100%;
    box-sizing       : border-box;
    padding          : 2em;
    color            : var(--cinza-escuro);

    display          : flex;
    flex-direction   : column;
    align-items      : center;
}

.secao2__cabecalho,
.secao3__cabecalho
{
    background-color   : transparent;
    margin-bottom      : 1em;

    display            : flex;
    flex-direction     : column;
    align-items        : center;
    gap                : .8em;
}

.secao2__cabecalho__icone,
.secao3__cabecalho__icone
{
    color   : var(--laranja-medio);
}

.secao2__cabecalho__titulo,
.secao3__cabecalho__titulo
{
    font-family   : var(--fonte-titulo);
    font-size     : 2em;
    text-align    : center;
}

.tabela
{
    width     : 80%;
    color     : var(--cinza-claro);
}

.tabela__cabecalho
{
    background-image   : var(--gradiente-amarelo-claro);
    color              : var(--cinza-escuro);
    border-radius      : 12px 0px 12px 0px;
    margin-bottom      : 0.5em;

    display            : flex;
    justify-content    : space-between;
}

.tabela__cabecalho__linha
{
    width                   : 100%;

    display                 : grid;
    grid-template-columns   : 1fr 1fr 1fr;
}

.tabela__cabecalho__titulo
{
    padding       : 0.5em;
    font-weight   : 700;
}

.tabela__corpo
{
    border-radius   : 10px;
}

.tabela__corpo__linha
{
    display                 : grid;
    grid-template-columns   : 60% 40%;

    margin-bottom           : 3px;
}

.tabela__corpo__titulo,
.tabela__corpo__dado
{
    padding       : 1em;
    font-weight   : 500;
    font-size     : 0.8em;
    box-sizing    : border-box;
}

.tabela__corpo__titulo
{
    text-align         : right;
    background-color   : var(--cinza-escuro);
    color              : var(--cinza-claro);
    font-weight        : 500;
    border-radius      : 5px 0 0 5px;
}

.tabela__corpo__dado
{
    text-align         : center;
    background-color   : var(--laranja-medio);
    color              : var(--cinza-escuro);
    font-weight        : 600;
}


@media screen and (min-width: 1024px) 
{
    .secao2__cabecalho__icone,
    .secao3__cabecalho__icone
    {
        font-size   : 30px;
    }

    .secao2__cabecalho__titulo,
    .secao3__cabecalho__titulo
    {
        font-size   : 2.5em;
    }

    .tabela
    {
        width   : 50%;
    }

    .tabela__cabecalho
    {
        border-radius   : 20px 0 20px 0;
    }

    .tabela__cabecalho__titulo
    {
        font-size   : 1.5em;
    }

    .tabela__corpo__titulo
    {
        border-radius   : 12px 0 0 12px;
    }

    .tabela__corpo__titulo,
    .tabela__corpo__dado
    {
        font-size   : 1.2em;
    }
}


/*----- Seção 3 -----*/

.secao3
{
    background-color   : var(--cinza-escuro);
    color              : var(--cinza-claro);
}

.formulario
{
    display         : grid;
    justify-items   : center;
    gap             : 1em;
}

.formulario__campo
{
    width              : 80%;
    background-color   : var(--cinza-escuro);
    border             : 1px solid var(--cinza-claro-semitransparente);
    border-radius      : 20px;
    padding            : 0 .5em .5em 1em;

    display            : flex;
    align-items        : flex-end;
}

.formulario__campo.textarea
{
    padding   : .8em;
}

.formulario__campo.radio
{
    border    : none;
    padding   : 0;
    
    display   : grid;
    gap       : 1em;
}

.formulario__campo.select
{
    border          : none;
    padding         : 0;

    display         : grid;
    justify-items   : center;
    gap             : 1em;
}

.formulario__campo.checkbox
{
    border        : none;
    padding       : 0;

    display       : flex;
    align-items   : center;
}

.formulario__campo.submit
{
    border            : none;
    padding           : 0;
    
    display           : flex;
    justify-content   : center;
}

.formulario__legenda
{
    font-size        : .7em;
    color            : white;
    font-weight      : 300;
    padding-inline   : .5em;
}

.formulario__input
{
    height             : 100%;
    width              : 80%;
    background-color   : inherit;
    color              : var(--cinza-claro);
    border             : 0;
    outline            : none;
    font-size          : .8em;
    font-family        : var(--fonte-texto);
    padding            : 0.3em;
}

.formulario__input:focus
{
    border-bottom   : 1px solid var(--laranja-medio-transparente);
}

.formulario__icone
{
    width             : 20%;
    height            : 100%;

    display           : flex;
    align-items       : flex-end;
    justify-content   : center;
}

.formulario__icone span
{
    color   : var(--cinza-claro);
}

.formulario__titulo
{
    font-size     : .9em;
    text-align    : center;
    padding       : 0 2ch 0 2ch;
    line-height   : 20px;
}

.formulario__textarea
{
    font-size          : .8em;
    font-family        : var(--fonte-texto);
    color              : var(--cinza-claro);
    width              : 100%;
    height             : 100px;
    background-color   : inherit;
    border             : none;
    resize             : none;
    outline            : none;
}


.formulario__radiobutton,
.formulario__radiobutton__label
{
    display       : flex;
    align-items   : center;
    gap           : .5em;
}

.formulario__radiobutton__label img
{
    width   : 25px;
}

.formulario__radiobutton__label span
{
    font-size   : .7em;
}

.formulario__select
{
    width              : 150px;
    border-radius      : 4px 4px 0 0;
    background-color   : inherit;
    padding            : .5em;
    text-align         : center;
    font-size          : .8em;
    font-family        : var(--fonte-texto);
    color              : var(--cinza-claro);
}

.formulario__checkbox__label
{
    font-size     : .7em;
    margin-left   : 0.5em;
}

.formulario__submit
{
    padding            : 1em 2em;
    border-radius      : 20px;
    border             : 0;
    font-size          : .8em;
    font-family        : var(--fonte-texto);
    font-weight        : 500;
    background-image   : var(--gradiente-laranja);
}

@media screen and (min-width: 1024px) 
{
    .secao3
    {
        align-items   : center;
    }

    .formulario
    {
        width                   : 90%;

        gap                     : 2em;
        grid-template-columns   : 1fr 1fr;
        grid-template-areas     : 
            "nome email"
            "telefone contato"
            "mensagem horario"
            "novidades novidades"
            "enviar enviar"
        ;
    }

    .formulario__campo
    {
        border-radius   : 8px;
        padding       : 1em;

        display       : flex;
        align-items   : center;
    }

    .formulario__campo.checkbox
    {
        width             : 50%;
        justify-self      : left;
        
        display           : flex;
        justify-content   : center;
    }

    .formulario__campo.select
    {
        align-content   : center;
    }

    .formulario__legenda
    {
        display   : none;
    }

    .formulario__input
    {
        font-size   : 1em;
        padding     : 0;
    }
    
    .formulario__icone
    {
        align-items   : center;
    }

    .formulario__titulo
    {
        font-size     : 1.2em;
    }

    .radio .formulario__titulo
    {
        grid-column   : span 3;
    }

    .nome
    {
        grid-area   : nome;
    }
    
    .email
    {
        grid-area   : email;
    }

    .telefone
    {
        grid-area   : telefone;
    }
    
    .textarea
    {
        grid-area   : mensagem;
    }

    .radio
    {
        grid-area               : contato;
        grid-template-columns   : 1fr 1fr 1fr;
    }

    .select
    {
        grid-area       : horario;
    }

    .checkbox
    {
        grid-area   : novidades;
    }

    .submit
    {
        grid-area   : enviar;
    }

    .nome:hover,
    .email:hover,
    .telefone:hover,
    .textarea:hover
    {
        border   : 1px solid var(--laranja-medio-transparente);
    }

    .formulario__radiobutton__label
    {
        cursor   : pointer;
    }

    .formulario__radiobutton__label img
    {
        width   : 30px;
    }

    .formulario__radiobutton__label span
    {
        font-size   : .9em;
    }

    .formulario__select
    {
        font-size   : .9em;
    }

    .formulario__select:hover
    {
        border   : 1px solid var(--laranja-medio-transparente);
        cursor   : pointer;
    }

    .formulario__checkbox__input
    {
        width    : 14px;
        height   : 14px;
    }

    .formulario__checkbox__label
    {
        font-size   : 1em;
        cursor      : pointer;
    }

    .formulario__submit
    {
        font-size    : 1.2em;
        cursor       : pointer;
        transition   : all 350ms;
    }

    .formulario__submit:hover
    {
        background-image   : var(--gradiente-laranja-invertido);
        color              : white;
    }

    .formulario__textarea
    {
        font-size   : 1em;
        padding     : 0;
    }
}