.secao1
{
    display           : flex;
    flex-direction    : column;
    align-items       : center;

    color             : var(--cinza-claro);
    width             : 100%;
    position          : relative;

    background-size   : cover;
}

.secao1::before
{
    content            : '';
    display            : block;
    width              : 100%;
    height             : 100%;
    background-color   : var(--preto-filtro-banner);
    position           : absolute;
}

.secao1__conteudo
{
    margin-top        : 115px;
    z-index           : 1;
    width             : 100%;
    min-height        : 70vh;
    box-sizing        : border-box;
    padding           : 1em;
    animation         : float 800ms ease-in-out;
    
    display           : flex;
    flex-direction    : column;
    align-items       : center;
    justify-content   : space-around;
}

.secao1__cabecalho
{
    display          : flex;
    flex-direction   : column;
    align-items      : center;
    gap              : 1.5em;
}

.secao1__titulo
{
    font-family   : 'Bebas Neue';
    font-size     : 3em;
    font-weight   : 600;
    width         : 10ch;
    text-align    : center;
}

.secao1__texto
{
    text-align    : center;
    font-weight   : 300;
}

.secao1__botao
{
    text-decoration    : none;
    text-align         : center;
    border             : 1px solid var(--amarelo-claro);
    color              : var(--cinza-claro);
    padding            : 1em 2em;
    border-radius      : 0;
    background-color   : var(--cinza-claro-transparente);
}

@media screen and (min-width: 1024px) 
{
    .secao1__conteudo
    {
        min-height   : 60vh;
    }

    .secao1__titulo
    {
        font-size   : 4em;
    }

    .secao1__texto
    {
        font-size   : 1.3em;
        width       : 40ch;
    }
    
    .secao1__botao
    {
        font-size    : 1.1em;
        transition   : all 350ms;
    }

    .secao1__botao:hover
    {
        color              : var(--laranja-claro);
        background-color   : var(--cinza-escuro-semitransparente);
    }
}