/*----- Seção 1 -----*/

.secao1
{
    display               : flex;
    flex-direction        : column;
    align-items           : center;

    color                 : var(--cinza-claro);
    width                 : 100%;
    position              : relative;

    background-image      : url(/images/banner3.jpg);
    background-size       : cover;
    background-position   : right;
}

.secao1::before
{
    content            : '';
    display            : block;
    width              : 100%;
    height             : 100%;
    background-color   : var(--preto-filtro-banner);
    position           : absolute;
}

.secao1__conteudo
{
    margin-top        : 115px;
    z-index           : 1;
    width             : 100%;
    min-height        : 70vh;
    box-sizing        : border-box;
    padding           : 1em;
    
    display           : flex;
    flex-direction    : column;
    align-items       : center;
    justify-content   : space-around;
}

.secao1__conteudo__cabecalho
{
    display          : flex;
    flex-direction   : column;
    align-items      : center;
    gap              : 1.5em;
}

.secao1__conteudo__cabecalho__titulo
{
    font-family   : 'Bebas Neue';
    font-size     : 3em;
    font-weight   : 600;
    width         : 10ch;
    text-align    : center;
}

.secao1__conteudo__cabecalho__texto
{
    text-align    : center;
    font-weight   : 300;
    line-height   : 22px;
}



/*----- Seção 2 -----*/

.secao2
{
    width              : 100%;
    box-sizing         : border-box;
    background-color   : var(--cinza-escuro);
    color              : var(--cinza-claro);
    padding            : 2em;
}

.secao2__lista
{
    display           : flex;
    flex-wrap         : wrap;
    justify-content   : space-evenly;
    column-gap        : 1em;
    row-gap           : 3em;
}

.secao2__lista__itens
{
    display            : flex;
    flex-direction     : column;
    align-items        : center;
    justify-content    : space-between;
    gap                : 0.8em;

    width              : 200px;
    border             : 1px solid var(--cinza-claro);
    border-radius      : 16px;
    padding-bottom     : 1em;
    background-color   : var(--cinza-escuro-dark);
    box-shadow         : 0px 0px 17px 2px var(--preto-sombra-card-servicos);
}

.secao2__lista__itens__imagem
{
    width           : 100%;
    border-radius   : 12px 12px 0 0;
}

.secao2__lista__itens__titulo
{
    font-family   : var(--fonte-titulo);
    font-size     : 2em;
    color         : var(--laranja-claro);
}


.secao2__lista__itens__descricao
{
    font-weight   : 200;
    text-align    : center;
    width         : 15ch;
    line-height   : 20px;
}

.secao2__lista__itens__valor
{
    color         : var(--laranja-medio);
    font-weight   : 600;
    font-size     : 1.5em;
}