/*----- Seção 1 (Particularidades) -----*/

.secao1
{
    background-image      : url(/images/banner3.jpg);
    background-position   : right;
}

/*----- Seção 2 -----*/

.secao2
{
    width              : 100%;
    box-sizing         : border-box;
    background-color   : var(--cinza-escuro);
    color              : var(--cinza-claro);
    padding            : 2em;
}

.secao2__lista
{
    display           : flex;
    flex-wrap         : wrap;
    justify-content   : space-evenly;
    column-gap        : 1em;
    row-gap           : 3em;
}

.secao2__lista__itens
{
    display            : flex;
    flex-direction     : column;
    align-items        : center;
    justify-content    : space-between;
    gap                : 0.8em;

    width              : 200px;
    border             : 1px solid var(--cinza-claro);
    border-radius      : 16px;
    padding-bottom     : 1em;
    background-color   : var(--cinza-escuro-dark);
    box-shadow         : 0px 0px 17px 2px var(--preto-sombra-card-servicos);
}

.secao2__lista__itens__imagem
{
    width              : 100%;
    border-radius      : 15px 15px 0 0;
    background-color   : var(--cinza-claro);
}

.secao2__lista__itens__titulo
{
    font-family   : var(--fonte-titulo);
    font-size     : 2em;
    color         : var(--laranja-claro);
}


.secao2__lista__itens__descricao
{
    font-weight   : 200;
    text-align    : center;
    width         : 15ch;
    line-height   : 20px;
}

.secao2__lista__itens__valor
{
    color         : var(--laranja-medio);
    font-weight   : 600;
    font-size     : 1.5em;
}


@media screen and (min-width: 1024px) 
{
    .secao2__lista__itens
    {
        display                 : grid;
        grid-template-columns   : 45% 1fr;
        justify-items           : center;
        gap                     : 0;
        
        width                   : 500px;
        padding                 : 0;
        border-radius           : 20px;
    }

    .secao2__lista__itens__imagem
    {
        grid-row        : span 3;
        width           : 100%;
        border-radius   : 18px 0 0 18px;
    }

    .secao2__lista__itens__titulo
    {
        font-size   : 2.5em;
    }

    .secao2__lista__itens__descricao
    {
        font-size   : 1.1em;
        width       : 22ch;
    }

    .secao2__lista__itens__valor
    {
        font-size   : 1.8em;
    }
}