main
{
    padding: 60px 40px;
    text-align: center;
}

form
{
    background-color: rgb(174, 180, 185);
    width: 30%;
    margin: 0 auto;
    text-align: left;
    border-radius: 10px;
    padding: 60px 40px;
}

.label_input
{
    margin-bottom: 6%;
}

.label_input label
{
    display: block;
    font-size: 20px;
    margin-bottom: 1%;
}

.label_input legend
{
    display: block;
    font-size: 20px;
    margin-bottom: 1%;
}

input[type="text"], input[type="email"], input[type="tel"]
{
    border-radius: 10px;
    border: 2px solid #2b2a6ad9;
    padding: 5px 10px;
    display: block;
    font-size: 15px;
    width: 80%;
    text-align: left;
}

input[type="radio"]
{
    width: 20px;
    height: 20px;
}

.select
{
    border-radius: 20px;
    width: 25%;
    text-align: center;
    height: 3vh;
    border: 2px solid #2b2a6ad9;
    font-family: sans-serif;
    font-size: 15px;
}

.label_input textarea
{
    width: 90%;
    height: 20vh;
    resize: none;
    border-radius: 20px;
    border: 2px solid #2b2a6ad9;
    padding: 10px;
    font-size: 15px;
    font-family: sans-serif;
}

.label_radio label
{
    font-size: 17px;
    display: inline;
    cursor: pointer;
}

.label_radio div
{
    margin: 5% 0;
}

#enviar
{
    text-align: center;
    margin-top: 10%;
}

#enviar input
{
    width: 160px;
    height: 6vh;
    border-radius: 5px;
    font-size: 15px;
    background-color: #2b2a6ad9;
    border: 2px solid rgb(31, 23, 87);
    color: aliceblue;
    cursor: pointer;
    transition-property: font-size, box-shadow, height, width, background-color;
    transition-duration: 500ms;
}

#enviar input:hover
{
    font-size: 16px;
    box-shadow: 0px 0px 20px 5px #373676d9;
    background-color: #6766c3d9;
    width: 180px;
    height: 7vh;
}