#banner_image
{
    display: block;
    width: 90%;
    border-radius: 20px;
    margin: 0 auto;
}

.sessao
{
    box-sizing: border-box;
    padding: 60px 20px;
}

.sobre
{
    background: rgb(255, 255, 255);
}

h2
{
    font-weight: bold;
    font-size: 2em;
    margin: 1em auto;
    clear: left;
    text-align: center;
}

#utensilios_image
{
    width: 25%;
    float: left;
    margin-right: 1em;
}

.float
{
    display: block;
    margin: 1em auto;
    width: 940px;
    text-align: center;
    box-sizing: border-box;
    padding: 2% 2%;
    border-radius: 10px;
    background-color: rgba(214, 214, 214, 0.507);
}

.sessao p
{
    font-size: 1.2em;
    text-align: justify;
    margin-bottom: 1em;
}

.sessao em
{
    font-style: italic;
}

.sessao cite
{
    color: rgb(31, 35, 92);
}

.mapa
{
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(155, 155, 155));
}

.mapa .texto
{
    margin: 0 auto;
    width: 70%;
}

.mapa p
{
    text-align: center;
}

.beneficios
{
    background-image: linear-gradient(to bottom, rgb(155, 155, 155), rgb(128, 128, 128));
    
    text-align: center;
}

.beneficios .texto
{
    padding: 50px;
    display: inline-block;
    vertical-align: top;
    margin-right: 2em;
}

.beneficios ul
{
    display: inline-block;
    text-align: left;
}

.beneficios li
{
    font-size: 1.1em;
    line-height: 2;
}

.beneficios li::before
{
    font-size: 1.1em;
    line-height: 2;
    content: "★";
}

#beneficios_image
{
    width: 55%;
    border-radius: 20px;
}

#beneficios_video
{
    width: 45%;
    margin: 2em auto;
}